<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do Example</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" href="index.css"/>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
</head>
<body>
    
    <div class="container w-sm-100 p-5" id="app">
        <div class="form-group ldesgn">
            <h2 class="text-dark text-center display-3 pb-3">My Tasks</h2>
            <div class="alert alert-info" role="alert"  v-if="todos.length==0">
               Task list is empty
            </div>
            <div class="alert alert-danger" role="alert"  v-if="control==true && todos.length!=0 ">
                This task has on your list.
            </div>
            <div class="alert alert-success" role="alert"  v-if="control==false && todos.length!=0">
                Success
            </div>
            <input class="form-control text-dark" type="text" @keypress.enter="addAct($event)" placeholder="Add a new task"><br/>
            <ol class="form-check text-dark">
                <li v-for="todo in todos">
                    <label>
                        <input class="text-dark" type="checkbox" v-on:change="toggle(todo)" v-bind:checked="todo.done">
                        <del class="text-success" v-if="todo.done" v-text="todo.text"></del>
                        <span class="text-danger" v-else="todo.done" v-text="todo.text"></span>

                    </label>
                    <i  type="button" class="material-icons float-right text-danger" v-on:click="delbut(todo.text)">&#xe872;</i>
                    <hr/>
                </li>
            </ol>
        </div>
    </div>

    <!-- Vue.js -->
    <script src="script.js"></script>
</body>
</html>